@page
@model Tachimi.Pages.Viewing.DetailsModel

@{
    ViewData["Title"] = "Details";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tachimi.css">
    <link rel="stylesheet" href="/QuickMasterRazor.styles.css">
</head>

<body>
    <input type="hidden" id="roomName" value="@Model.RoomName"/>
    <div class="container-fluid">
        <div class="row justify-content-around">
            <h1>Details</h1>
            <div class="col">
                <div class="clock">
                    <p class="clock-date"></p>
                    <p class="clock-time"></p>
                </div>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.View.Title)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.View.Title)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.View.Genre)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.View.Genre)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.View.Medium)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.View.Medium)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.View.Live)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.View.Live)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.View.Host)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.View.Host)
                    </dd>
                </dl>
            </div>
            <div class="col row">
                <div class="d-flex flex-column col-12 border border-secondary rounded">
                    <div class="row p-1 ">
                        <div class="col-12 text-light">
                            <ul id="messagesList"></ul>
                        </div>
                    </div>
                    <div class="row p-1 mt-auto coment-input border-top">
                        <input type="text" id="userInput" placeholder="User" />
                        <input type="text" id="messageInput" placeholder="Message" />
                        <input type="button" id="sendButton" value="Send Message" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>Connections: <span id="connections"></span></p>

    <div>
        <a asp-page="./Edit" asp-route-id="@Model.View?.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>

    <script src="/js/signalr/dist/browser/signalr.min.js" type="text/javascript"></script>
    <script src="/js/chat.js" type="text/javascript"></script>
    <script src="/js/clock.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" type="text/javascript"></script>

</body>
</html>



@*<div>
    <h4>View</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.View.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.View.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.View.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.View.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.View.Medium)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.View.Medium)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.View.Live)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.View.Live)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.View.Host)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.View.Host)
        </dd>
    </dl>
</div>*@

